---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mi cuenta personal">
  <article>
    <p class="text-white mt-20 text-center">Aqui se encuentra la cuenta personal de cada cliente con su Log out</p>
    <button class="rounded-xl bg-red-500 p-1 ">Log Out</button>
  </article>
</Layout>